<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ydtl.uboxpay">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--//读取 wifi-->
    <uses-permission android:name="android.permission.ACCESSWIFISTATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".activity.base.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/FullScreen">   <!--Theme.AppCompat.Light.NoActionBar-->

        <meta-data
            android:name="com.hash.lib.ui.glide.UBoxGlideModule"
            android:value="GlideModule" />

        <activity android:name=".activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.ubox.MainActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.InstallPackageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AdvertActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ubox.UBoxSetUpVmIdActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.ubox.ProductPayActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.ubox.ProductShipmentStatusAct"
            android:screenOrientation="landscape" />

        <receiver
            android:name=".receiver.BootBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED"></action>
            </intent-filter>
        </receiver>

    </application>

</manifest>